<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
{% if user %}
    <li>hello</li>{{ user[0][0] }}
    <a href="personal">person center</a>
    <a href="/logout">logout</a>
{% else %}
    <a href="login">sign in</a>
    <a href="signup">sign up</a>
{% endif %}
<a href="/userProfile?ouser_id=12">user:12</a>

<br/>below print top5(or less) popular tags:<br/>
{% if top5tag %}
    {{ top5tag }}
{% endif %}

<br/>below print top10(or less) contribution users :<br/>
{% if top10User %}
    {{ top10User }}
{% endif %}


<form action="/search" method="post">
    <input type="radio" name="searchType" value="users" checked="checked" />user search(by user_id)
    <input type="radio" name="searchType" value="comments">comment search
    <input type="radio" name="searchType" value="tags">photo search(by tags)
    <input type="text" name="searchContent">
    <input type="submit">
</form>
</body>
</html>