

<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>commentsSearchResult</title>
<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='prettify.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body >
<nav>
  <div class="container">
    <h1><a href="/">PA1</a></h1>
    <div id="menu">
      <ul class="toplinks">
          {% if user_id %}
                <li style="color: white;padding: 14px;">hello,{{ user_id }} </li>
                <li><a href="personal">person center</a></li>
                <li><a href="/logout">logout</a></li>

          {% else %}
              <li><a href="login">sign in</a></li>
              <li><a href="signup">sign up</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header"> search page</h2>
  </div>
</header>
<section>
  <div class="container">
    <div class="docs-content" style="padding-left:300px">


        <h3> search on all comments</h3>
        <ul>
<form action="/search" method="post">
    <input type="hidden" name="searchType" value="comments">
    <input type="text" name="searchContent" value="{{ comments }}">
    <input type="submit">
</form>
        </ul>
        <h3> search result</h3>
        <ul>
{% if match %}
    format: (user, # of match)<br/>
    <ul>
	    {% for row in match %}
	    <li>
		    {{row[0]}}, {{ row[1] }}
	    </li>
	    {% endfor %}
    </ul>
{% else %}
        <h1>no matched comments found</h1>
{% endif %}
        </ul>
      <hr>
    </div>
  </div>
</section>
<section class="vibrant centered">
  <div class="container">
    <h4> CS660 Project Assignment1</h4>
  </div>
</section>
<footer>
  <div class="container">
    <p> yueh ying lee U41222261 And Zhong tu U89072077</p>
  </div>
</footer>


</body>
</html>