
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Opineo, Feedback Collection and Polling Widget - Documentation</title>
<link rel="alternate" type="application/rss+xml" title="egrappler.com" href="feed/index.html">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='prettify.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body >
<nav>
  <div class="container">
    <h1>PA1</h1>
    <div id="menu">
      <ul class="toplinks">
          {% if user_id %}
                <li>hello,{{ user_id }} </li>
                <li><a href="personal">person center</a></li>
                <li><a href="/logout">logout</a></li>

          {% else %}
              <li><a href="login">sign in</a></li>
              <li><a href="signup">sign up</a></li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header"> Person Center</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav" id="menu-left">
      <li><strong>Frinds Lists</strong></li>
{% if friends %}
    {% for row in friends %}
        <li><a href="/userProfile?ouser_id={{ row[1] }}" class=" ">{{ row[1] }}</a>  </li>
    {% endfor %}
{% endif %}
    </ul>
    <div class="docs-content">
      <h3 id="welcome"> recommend friends</h3>

      <ul>
{% if rfriends %}
    <li>user_id:   </li>
    {% for row in rfriends %}
            <li><a href="/userProfile?ouser_id={{ row[0] }}" class="btn">{{ row[0] }}</a> --{{ row[1] }} common friends </li>
    {% endfor %}
{% endif %}
      </ul>
      <h3 id="welcome"> recommend photos</h3>

      <ul>
{% if rphotos %}
    <li>photo id:   </li>
    {% for row in rphotos %}
            <li>{{ row[0] }}<a href="/photo?photo_id={{ row[0] }}" >  Goto this photo</a>  </li>
    {% endfor %}
{% endif %}
      </ul>
      <h3 id="benefits"> operate</h3>
        <ul>
            <h4>create new album</h4>
        <form action="/addAlbum" method="post">
            <li>new album name</li>
            <li><input type="text" name="name"></li>
            <li><input type="submit"  value="new album"></li>
        </form>
            <h4>search my photos(by tags)</h4>

           <form action="/myPhotoSearch" method="post">
               <input type="hidden" value="{{ user[0][0] }}" name="ouser_id">
               <li><input type="text" name="tags"></li>
               <li><input type="submit" value="search"></li>
         </form>

        </ul>
    <h3 id="welcome"> your albums</h3>
      <ul>
{% if albums %}
    {% for row in albums %}
     <div id="{{ row[0] }}" class="albums">
        <h4>album id</h4>
        <li>{{ row[0] }}</li>
        <h4>album name</h4>
        <li>{{ row[1] }}</li>
        <h4>create date</h4>
        <li>{{ row[2] }}</li>
        <li><a href="/album?album_id={{ row[0] }}" >  go to this album</a></li>
        <li><a href="/deleteAlbum?album_id={{ row[0] }}" >delete this album</a></li>
        <hr>
     </div>
    {% endfor %}
{% endif %}
      </ul>

      <hr>
    </div>
  </div>
</section>
<section class="vibrant centered">
  <div class="container">
    <h4> CS660 Project Assignment1</h4>
  </div>
</section>
<footer>
  <div class="container">
    <p> yueh ying lee U41222261 And Zhong tu U89072077</p>
  </div>
</footer>


</body>
</html>