<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>
<form action="/signup/" method="post">
    <lable>userid</lable>
    <input type="text" name="userid">
    <lable>password</lable>
    <input type="password" name="pwd">
    <lable>firstname</lable>
    <input type="text" name="firstname">
    <lable>lastname</lable>
    <input type="text" name="lastname">
    <lable>email</lable>
    <input type="text" name="email">
    <lable>birth</lable>
    <input type="date" name="birth">
    <lable>hometown</lable>
    <input type="text" name="hometown">
    <lable>gender</lable>
    <input type="radio" name="gender" value="1">male <input type="radio" name="gender" value="2">female
    <input type="submit">
</form>
</body>
</html>